body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/Logo Title */
  .header {
    padding: 5px;
    text-align: center;
    background-image: "../../images/FrankShopCar.svg";
    color: white;
    font-size: 30px;
  }